{% extends 'app/base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
  <div class="mt-2 jumbotron">
    <h1 class="display-4">{{course.name}}</h1>
    <p class="lead">{{course.desc}}</p>
  </div>
    
  {% if order or request.user.is_superuser %}
    <div class="d-flex flex-wrap">
      {% for lesson in lessons %}
      <div class="col-4">
        <p>Lesson {{lesson.id}}. <a href="{% url 'topic' id=lesson.id %}" class="lead">{{lesson.name}}</a></p>
      </div>
      {% endfor %}
    </div>
  {% else %}
  <button type="submit" id="checkout-button" class="btn btn-primary">{% trans "Purchase" %}</button>
  {% endif %}

  <hr>

  </div>
  <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe('pk_test_51KOydKELUeIefn7YBSHTqKM120jMtpCwBSodKYw6XWNec5W5x2fwbUzLdF64mNCyFTPPp2tXa3UedkeOsiEs4Waq00Lrg2A5gk');
    var checkoutButton = document.getElementById('checkout-button');
   
    checkoutButton.addEventListener('click', function() {
      // Create a new Checkout Session using the server-side endpoint you
      fetch('/create-checkout-session/', {
        method: 'POST',
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function(result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using `error.message`.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function(error) {
        console.error('Error:', error);
      });
    });
  </script>

{% endblock content %}