{% extends 'app/base.html' %}
{% load i18n %}

{% block content %}
<div class ="container">
  {% for data in courses %}
    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title">{{ data.name }}</h5>
        <p class="card-text">{{ data.desc }}.</p>
        <h3 id="price" class="card-title">$ {{ data.price }}</h3> <span>{{ data.get_number_topics }} {% trans "lessons" %}</span>
        <a href="{% url 'course' pk=data.id %}" class="btn btn-primary">{% trans "View" %}</a>
        {% for order in order %}
          {{order.email}}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}