{% extends 'app/base.html' %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="mt-2 jumbotron">
      <h1 class="display-4">{{course.name}}</h1>
      <p class="lead">{{course.desc}}</p>
      
    </div>
      
    
    <div class="d-flex flex-wrap">
        <div class="col-1">
            <video class="p-3" controlsList="nodownload" controls style="height: 67vh; width: auto;" src="{{t.video.url}}"></video>
            <p class="lead">{{t.name}}</p>
        </div>
    </div>

    <h1>{% trans "Comments" %}</h1>
    {% for comment in comment %}
        <div class="flex">
            <small>{% trans "Username" %}: {{comment.user.username}}</small>
            <p>{{comment.body}}</p>
        </div>
    {% endfor %}
    <hr>

    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="{% trans "submit" %}">
    </form>
</div>

{% endblock content %}